.expense-list{
    margin-top:20px;
    background-color:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:100%;
    margin-right: 120px;
}
.filterDate b{
    color:white;
}
.filterDate{
    display:flex;
    justify-content: space-between;
}
select{
    height:30px;
    width:80px;
    font-size:17px;
    border-radius: 5px;
    border:none;
    outline: none;
    padding:4px 8px;
    font-weight:bold;

}